[run]
source = codemodder
omit =
    */codemodder/scripts/*
    */codemodder/_version.py
    */core_codemods/refactor/*

[paths]
codemodder =
    */src/codemodder
    */site-packages/codemodder
core_codemods =
    */src/core_codemods
    */site-packages/core_codemods
