[run]
source = codemodder
omit =
    */codemodder/scripts/*
    */codemodder/_version.py

[paths]
codemodder =
    */src/codemodder
    */site-packages/codemodder
core_codemods =
    */src/core_codemods
    */site-packages/core_codemods
